# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Docker Sandbox & Local Data
sandbox/data/
*.log
ISOs/
*.iso
*.tar.gz

# .NET
bin/
obj/
*.user
*.suo
*.trx
TestResults/

# Node & Nx
node_modules/
dist/
.nx/
.angular/
tmp/
coverage/

# Environment & Secrets
.env
*.env
*.key
*.pem

# OpenTofu & Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.generated.ini
