# ==============================================================================
# Example OpenTofu / Terraform Configuration Variables
# ==============================================================================
# Rename to terraform.tfvars or pass via environment variables (TF_VAR_*)

proxmox_endpoint  = "https://100.121.209.85:8006/"
proxmox_insecure  = true
proxmox_username  = "root@pam"
proxmox_password  = "12345678"
proxmox_node      = "pve"

# Select Cloud Provider Catalog Abstraction (aws, gcp, azure, hetzner, digitalocean)
cloud_provider        = "aws"
runner_dotnet_flavor  = "t3.medium"
runner_angular_flavor = "t3.small"
minio_cache_flavor    = "t3.small"

# Network & Storage Topology
bridge                = "vmbr1"
gateway               = "10.99.20.1"
storage_pool          = "local-lvm"
template_storage_pool = "local"
debian_template       = "local:vztmpl/debian-12-standard_12.7-1_amd64.tar.zst"
alpine_template       = "local:vztmpl/alpine-3.23-default_20241201_amd64.tar.xz"
